<%- include('../partials/header') %>
<div class="container mt-5 text-center">
  <h2 class="text-success">Thank You!</h2>
  <p>We've received your message. We'll get back to you soon.</p>
</div>

<%- include('../partials/footer') %>
